<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yk.system.mapper.User_InfoMapper">

    <insert id="insertUser_Info" parameterType="com.yk.system.po.User_Info">
        insert into user_info(
        U_ID,
        U_UserName,
        U_RealName,
        U_PassWord,
        U_Sex,
        U_Phone,
        U_CreateTime,
        U_LastChangeTime,
        remark)
        values(
        #{u_id},
        #{u_userName},
        #{u_realName},
        #{u_passWord},
        #{u_sex},
        #{u_phone},
        #{u_createTime},
        #{u_lastChangeTime},
        #{remark})
    </insert>

    <select id="selectUser_InfoAll" resultType="com.yk.system.po.User_Info">
        select <include refid="columns"/>
        from user_info
    </select>
    
    <select id="selectUser_InfoByCondition" resultType="com.yk.system.po.User_Info">
        select <include refid="columns"/>
        from user_info
        order by U_ID limit #{page.dbIndex},#{page.dbNumber}
    </select>

    <select id="selectUser_InfoByUserName" resultType="com.yk.system.po.User_Info">
        select <include refid="columns"/>
        from user_info
        where U_UserName=#{0}
    </select>
    
    <sql id="columns">
    	U_ID,
        U_UserName,
        U_RealName,
        U_PassWord,
        U_Sex,
        U_Phone,
        U_CreateTime,
        U_LastChangeTime,
        remark</sql>
</mapper>